#### Input and output typically falls into a few main categories: reading text files and other more efficient on-disk formats, loading data from databases, and interacting with network sources like web APIs.

#### read_csv is very versatile which allows *type inference* which means the type of the columns needs not be defined instead it is automatically detected by read_csv.

In [3]:
!cat examples.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('examples.csv')

In [7]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### JSON (JavaScript Object Notation)

JSON has become one of the standard formats for sending data by HTTP request between web browsers and other applications. It is a much more free-form data format than a tabular text form like CSV. All the keys in a JSON object (dict) should be strings. There are several Python libraries for reading and writing JSON data. Python has json library in its standard library to deal with JSON data.

In [8]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [10]:
import json

result  = json.loads(obj)  ## json.loads converts JSON file into Python format


result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

#### json.dumps, on the other hand, converts a Python object back to JSON.

In [11]:
pytojson = json.dumps(result)
pytojson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

There are many ways to convert json read file in to DataFrames.

In [14]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'], index=['elder', 'younger'])
siblings

          name  age
elder    Scott   30
younger  Katie   38

In [18]:
df = pd.read_json('example.json')

df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9