### Python Data Structures

### Tuples

Immutable sequence of elements.

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [7]:
tuple([3, 1, 'asdf'])

(3, 1, 'asdf')

In [8]:
tuple('strings')

('s', 't', 'r', 'i', 'n', 'g', 's')

In [10]:
tup[1]

5

### Tuples can contain any kind of objects including a list or boolean values

In [12]:
tup_1 = ('foo', [3, 9, 4], True)

If an object inside a tuple is mutable, such as a list, it can be modified in place.

In [15]:
tup_1[1].append(5)
tup_1

('foo', [3, 9, 4, 5, 5], True)

Tuples can be concatenated to produce longer tuples.

In [16]:
tup + tup_1

(4, 5, 6, 'foo', [3, 9, 4, 5, 5], True)

Multiplying with an integer concatenates that many copies of tuples (same happens with lists).

In [17]:
tup * 3

(4, 5, 6, 4, 5, 6, 4, 5, 6)

Assigning elements of a tuple to variables

In [18]:
a, b, c = tup

print(a,b,c)

4 5 6

Iterating over elements of a tuple (or a list)

In [23]:
seq = (1, 2, 3), (4, 5, 6), (7, 8, 9)

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

### Tuple Methods

count(): to count the number of occurences of an element of a tuple (or a list).

In [25]:
tup_2 = 1, 2, 3, 4, 2, 3, 4, 2, 5

tup_2.count(4)

2

### Lists

Mutable sequence of elements. 

A tuple can be converted in to a list using list(tuple).

Lists and tuples are semantically similar (though tuples cannot be modified) and can be used interchangeably in many functions.

In [29]:
gen = range(10)
print(gen)

list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### append()

Elements can be added to the end of the list using append().

In [33]:
a_list = [12, 32, 43]

In [35]:
a_list.append(55)
a_list

[12, 32, 43, 55, 55]

### insert()

can insert element(s) at a specific location.

In [38]:
a_list.insert(1, 76)
a_list

[12, 76, 76, 32, 43, 55, 55]

insert() is computationally more expensive than append().

### pop()
to remove element(s) from a location.

In [40]:
a_list.pop(1)
a_list

[12, 76, 32, 43, 55, 55]

### remove()

to delete an element using its value. In case of more than one occurerances, the first instance of the value is removed.

In [41]:
a_list.remove(55)

In [42]:
a_list

[12, 76, 32, 43, 55]

### in and not in 

to see if the value is an element of the list or not.

In [43]:
76 in a_list

True

In [44]:
43 not in a_list

False

### Concatenating lists

In [45]:
a_list + ['fd', 3, 9]

[12, 76, 32, 43, 55, 'fd', 3, 9]

### extend()

To add multiple elements to the list.

In [46]:
a_list.extend(['gh', 8, (0, 4)])

In [47]:
a_list

[12, 76, 32, 43, 55, 'gh', 8, (0, 4)]

When concatenating, extend() is cheaper than +.